@using System.Text.Json
@rendermode InteractiveServer
@code {

    public double number1 = 0;
    public double number2 = 0;
    public List<Result> results= new List<Result>();

    public class Result{
        public double Value { get; set; }
        public string Calculation { get; set;  }
        public CalculationType Type { get; set; }
    }
    public class CalculationDTO{
        public double NumberOne { get; set; }
        public double NumberTwo { get; set; }
        public CalculationType Type { get; set;  }
    }
    public enum CalculationType
    {
        Addition,
        Subtraction,
    }

    public async Task addnumbers()
    {
        var calcdto = new CalculationDTO();
        calcdto.NumberOne = number1;
        calcdto.NumberTwo = number2;
        calcdto.Type = CalculationType.Addition;

        var client = new HttpClient();
        var requestmessage = new HttpRequestMessage(HttpMethod.Post, "http://localhost:9090/createcalculation");
        requestmessage.Content = new StringContent(JsonSerializer.Serialize(calcdto));
        var response = await client.SendAsync(requestmessage);
        var respContent = await response.Content.ReadAsStringAsync();
        try{
            
            var result = JsonSerializer.Deserialize<Result>(respContent);
            results.Add(result);
        }
        catch(Exception ex)
        {            
            Console.WriteLine($"LOG DIS = {ex.Message}");
        }
    }

    public async Task substractnumbers()
    {
        var calcdto = new CalculationDTO();
        calcdto.NumberOne = number1;
        calcdto.NumberTwo = number2;

        var client = new HttpClient();
        var requestmessage = new HttpRequestMessage(HttpMethod.Post, "http://localhost:9090/createcalculation");
        requestmessage.Content = new StringContent(JsonSerializer.Serialize(calcdto));
        var response = await client.SendAsync(requestmessage);
        var respContent = await response.Content.ReadAsStringAsync();
        if (response.IsSuccessStatusCode)
        {

            var result = JsonSerializer.Deserialize<Result>(respContent);
            results.Add(result);
        }
        else
        {
            Console.WriteLine($"LOG DIS = {respContent}");
        }
    }
}
<div><h3>Calculation Component</h3>
    <label for="num1">Number 1</label>
    <input style="margin-top:10px; padding:2px;" id="num1" type="number" @bind-value="@number1"/><br />
    <label for="num2">Number 2</label>
    <input style="margin-top:10px; padding:2px;" id="num2" type="number" @bind-value="@number2" />
<br />
<div>
<button @onclick="() => addnumbers()">Add</button>
    <button @onclick="() => substractnumbers()">Substract</button>
    </div>
<ul>
@foreach(var res in results)
    {
         <li>@res.Calculation = @res.Value</li>
    }
 </ul>
</div>



